* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(47, 114, 20);
    color: rgb(47, 114, 20);
    font-family: 'Montserrat', sans-serif; 
}

#title {
    color: black;
    font-size: 1.7rem;
    text-align: center;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    height: 45vh;
    width: 50vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select, input, button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1.2rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}


.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.dropdown i {
    font-size: 1.2rem;
    margin-top: 1.4rem;
}

.select-container img {
    max-width: 2.5rem;
}

.select-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding-left: 0.3rem;
    padding-right: 0.1rem;
}

.select-container select {
    font-size: 1rem;
}

.message {
    margin: 2rem 0 2rem 0;
    color: grey;
    background-color: rgb(58, 152, 21);
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin: 0 6rem 1rem 6rem;
    padding: 0.3rem 0 0.3rem 0;
    font-size: 0.8rem;
}

form button {
    height: 3rem;
    background-color: rgb(210, 51, 37);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}